/* Pink Palette */
:root {
    --light-pink: #ffb6c1;
    --pastel-pink: #ffd1dc;
    --hot-pink: #ff69b4;
    --deep-pink: #ff1493;
    --pale-pink: #fadadd;
    --medium-pink: #ff85a2;
    --dark-pink: #c2185b;
    --rose-pink: #ff007f;
    --bubblegum-pink: #ff85ff;
    --coral-pink: #f88379;
    --neon-pink: #ff6ec7;
    --raspberry-pink: #e30b5c;
    --mauve-pink: #e0b0ff;
}